/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    background: rgb(49, 57, 168);
}

.color-2 {
    background: rgb(165, 1, 68);
}

.color-3 {
    background: white;
}

/* Textures or Patterns*/
.pattern-1 {
    background: url(../img/Pattern.png);
}

.pattern-2 {
    background: url(../img/Pattern2.png);
}

.pattern-3 {
    background: 
}
/* Imagery */
.imagery-1 {
    background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/13348f31509765.5653ee0d110b8.jpg);
    width: 1200px;
    height: 1800px;
}

.imagery-2 {
    background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/80cb6631509851.5653ef00a7e10.jpg);
    width: 1200px;
    height: 800px;
}

.imagery-3 {
    background: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/a97f5731698915.565d23643952d.jpg);
    width: 1200px;
    height: 1800px;
}

/* Icons */


/* Typography */
    /*-------------------------------------------
    Headlines: font-family: 'Righteous', cursive;
    Body Copy: font-family: 'Karla', sans-serif;
    ---------------------------------------------*/
h1,
h2,
h3 {
    font-family: 'Righteous', cursive;
}

p {
    font-family: 'Karla', sans-serif;
}


/* Forms */


/* Tables */


/* Cards */